/* Общий стиль для CodeMirror */
.cm-s-simplemode.CodeMirror {
  background: #f0f0f0; /* Цвет фона редактора */
  color: #000000; /* Цвет текста по умолчанию */
}

/* Цвета для различных токенов */
.cm-s-simplemode .cm-keyword { color: #0000ff; font-weight: bold; }
.cm-s-simplemode .cm-atom { color: #ff0000; }
.cm-s-simplemode .cm-number { color: #00ff00; }
.cm-s-simplemode .cm-comment { color: #888888; font-style: italic; }
.cm-s-simplemode .cm-string { color: #ff00ff; }
.cm-s-simplemode .cm-operator { color: #000000; }
.cm-s-simplemode .cm-variable { color: #008000; }
