/* Общий стиль для CodeMirror */
.cm-s-turbo.CodeMirror {
  background: ##121212; /* Цвет фона редактора */
  color: #FFFFFF /* Цвет текста по умолчанию */
}

/* Цвета для различных токенов */
.cm-s-turbo .cm-keyword { color: #483D8B; font-weight: bold; }
.cm-s-turbo .cm-atom { color: #483D8B; }
.cm-s-turbo .cm-number { color: #F08080; }
.cm-s-turbo .cm-comment { color: #808080; font-style: italic; }
.cm-s-turbo .cm-string { color: #FFD700; }
.cm-s-turbo .cm-operator { color: #DCDCDC; }
.cm-s-turbo .cm-variable { color: #32CD32; }
